*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo img{
    max-width: 17%;
    margin-left: 135px;
}

.lista ul{
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: #D9dadc;
    font-size: 15px; 
    list-style-type: none;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
    align-items: center;
    height: 100%;
    
}
li{
    white-space: nowrap;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    display: flex;
}
.linkar{
    text-decoration: none;   
}
.linkar:hover{
    color: #18D760;
    cursor: pointer;
}
a{
    color: white ;
    font-family:Arial, Helvetica, sans-serif;
}
.lista ul li:nth-child(4){
    border-left: 1px solid white;
    padding-left: 30px;
}
h1{
    font-size: 40px;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: 750;
    color: white;
    max-width: 100%;
}
.premium{
    background-color:#f037a5;

}
h2{
    margin: 30px 0px;
    color:white;
    font-size: 24px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;


}
.padding{
    padding: 65px 160px;
}
.bottom a{
    font-size: inherit;
    text-decoration: none;
    font-size: 14px;
}
.bottom{
    display: flex;
    gap: 10px;
    transform: scale(1.04);
    font-weight: 700;
    align-items: center;
    margin: 45px 0px 0px;
}
.botao:hover{
    transform: scale(1.05);
}

.bottom1{
    border-radius: 500px;
    background-color: black;
    padding-block: 14px;
    padding-inline: 32px;
    text-transform: uppercase;
    margin-left: 25px;
    border: 3px solid black;
    cursor: pointer;
    user-select: none;
    
}
.bottom2{
    border-radius: 500px;
    background: transparent;
    border: 3px solid white;
    padding-block: 14px;
    padding-inline: 32px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    color: black;
}
.condition a{
    text-decoration: underline;
    color: white;
    font-size:0.6875rem ;
}
.termos{
    color: white;
    font-size: 0.6875rem;
    text-transform: none;
    margin-top: 45px;
}
#premium{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -0.015em;
    margin-top: 80px;
    
}
.perks{
    display: flex;
    justify-content:space-between;
    padding: 15px 190px 0px 190px;
}
.perks img{
    width: 142px;
    height: 142px;
    margin-top: 20px;
}
.offline p{
    color: black;
    font-size: 24px;
    margin: 0%;
    font-weight: bold;
}
.music p{
    color: black;
    font-size: 12px;
}
.offline ul{
    display: flex;
    list-style-type: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    gap: 20px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}
.offline{
    margin-left: 200px;
    margin-top: 40px;
}
#music{
    margin-left: 65px;
}
#ordem{
    margin-left: 0px;
}
#som{
    margin-left: 5px;
}
.guia ul{
    font-size: 16px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-top: 10px;
}
.guia{
    margin-left: 170px;
}
#anuncio{
    margin-left: 88px;
}
#qualquer{
    margin-left: 70px;
}
#superior{
    margin-left:120px;
}
#ajuste{
    color: black;
    font-size:16px;
    margin-left:838px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-top: 10px;
}
.paddingajuste{
    padding-bottom: 75px;
}
.planopremium{
    background-color: #EFEFEF;
}
.planopremium h2{
    color: black;
    margin: 0px 0px;
    text-align: center;
    font-size: 40px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    padding-top: 90px;
    line-height: 1;
    letter-spacing: -1.28px;
}
.planopremium h3{
    color: black;
    text-align: center;
    margin: 10px 0px;
    font-size: 16px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}
.cartoes{
    display: flex;
    justify-content: center;
}
.visa{
    width: 29px;
    height: 20px;
}
.outros h2{
    margin: 0px 0px;
    font-size: 15px ;
    text-decoration: underline;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    padding-top:3px;
    padding-left: 5px;
}
.planos{
    display: flex;
    background-color: #efefef;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    gap: 8px;
    margin-left: 100px;
    padding-bottom: 8%;
}
.planosajuste{
    border-radius: 8px;
    
}
.planosindividual{
    margin: 50px 10px 26px 0px;
    padding: 15px 15px 15px 15px;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    background-color: white;
    border-radius: 10px;
    max-width: 320px;
}
#planoindividual{
    margin-left: 120px;
}
.individual{    
    width:260px;
    background-color: rgb(46, 119, 208);
    border-radius: 4px;
    margin: 0px 4px 10px 0px;
}
.individual1{    
    width:210px;
    background-color: rgb(46, 119, 208);
    border-radius: 4px;
    margin: 0px 4px 10px 0px;
}
.individual1 h3{
    color: white;
    text-align: left;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
}
.individual h3{
    text-align: left;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 15px;
}
.unico{
background-color: white;
color: rgb(46, 119, 208);
border-radius: 4px;
border: 1px solid rgb(46, 119, 208);
font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
width: 210px;
padding-left: 5px;
margin: 0px 4px 10px 0px;
}
.unico h3{
    color:rgb(46, 119, 208);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    margin: 5px 0px;
    text-align: left;
    letter-spacing: 0px;
}
.plano h3{
   font-size: 24px;
   font-weight: bold;
   line-height: 24px;
   text-align: left; 
}
.plano p{
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
}
.listar{
    display: flex;
    margin-top: 10px;
}
.listard{
    display: flex;
    padding-bottom: 165px;
    margin-top: 10px;
}
.listard1{
    display: flex;
    padding-bottom: 215px;
    margin-top: 10px;
    margin-right: 40px;
}
.listard2{
    display: flex;
    padding-bottom: 65px;
    margin-top: 10px;
    margin-right: 40px;
}
.listard3{
    display: flex;
    padding-bottom: 165px;
    margin-top: 10px;
    margin-right:60px;
}
.bottomplano{
    border-radius: 500px;
    background-color: black;
    padding-block: 14px;
    padding-inline: 32px;
    text-transform: uppercase;
    margin-left: 25px;
    border: 3px solid black;
    cursor: pointer;
    text-decoration: none;  
    max-width: 100%; 
    padding: 12px 40px 15px 40px;
    align-items: center;
}
.termosplano a{
    text-decoration: underline;
    font-size:12px ;
    color: rgb(83, 83, 83);   
}
.termosplano p{
    color: rgb(83, 83, 83);
    font-size: 12px;
}
.termosplano{
    margin-top: 50px;    

}
.bottomplano a{
    align-items: center;
}
.contatos{
    background-color: black;
    display: flex;
    gap: 60px;
}
.logo2 img{
    max-width: 100%;
}
.logo2{
    display: flex;
    height:27%;
    width: 27%;

}
.logo2 a{
    margin: 20px;
    margin-top: 60px;
    margin-left: 135px;
    padding: 35px;
}
.final1{
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.final1 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.final2{
    color: white;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    display: flex;
    margin-right: 50px;
    align-items: center;
    height: 100%;
    margin: 25px 0px 0px;
    text-decoration: none;   
}
.info{
margin-top: 80px;
}
.final2:hover{
    color:#18D760 ;

}
