*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 17%;
    margin-left: 135px;
}

ul{
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;;
    color: white;
    font-size: 16px; 
    list-style-type: none;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
    align-items: center;
    height: 100%;
    
}
li{
    white-space: nowrap;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    display: flex;
}
.linkar{
    text-decoration: none;   
}
.linkar:hover{
    color: #18D760;
    cursor: pointer;
}
a{
    color: white ;
    font-family:Arial, Helvetica, sans-serif;
}
.lista ul li:nth-child(4){
    border-left: 1px solid white;
    padding-left: 30px;
}
h1{
    font-size: 40px;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: 750;
    color: white;
    max-width: 100%;
}
.premium{
    background-color:#f037a5;

}
h2{
    margin: 30px 0px;
    color:white;
    font-size: 24px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;


}
.padding{
    padding: 65px 160px;
}
.bottom a{
    font-size: inherit;
    text-decoration: none;
    font-size: 14px;
}
.bottom{
    display: flex;
    gap: 10px;
    transform: scale(1.04);
    font-weight: 700;
    align-items: center;
    margin: 45px 0px 0px;
}
.botao:hover{
    transform: scale(1.05);
}

.bottom1{
    border-radius: 500px;
    background-color: black;
    padding-block: 14px;
    padding-inline: 32px;
    text-transform: uppercase;
    margin-left: 25px;
    border: 3px solid black;
    cursor: pointer;
    user-select: none;
    
}
.bottom2{
    border-radius: 500px;
    background: transparent;
    border: 3px solid white;
    padding-block: 14px;
    padding-inline: 32px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}
.bottom2 a{
color: black;
}
.condition a{
    text-decoration: underline;
    color: white;
    font-size:0.6875rem ;
}
p{
    color: white;
    font-size: 0.6875rem;
    text-transform: none;
    margin-top: 45px;

}
